
install/
out/

host-tools
host-tools/

*~
*.swp
*.swo
*.bak
*.rej
.DS_Store

tags
.tags*
cscope.*
ncscope.*
.svim

__pycache__
.vscode

buildroot-2021.05/buildroot-2021.05/
buildroot-2021.05/dl/
buildroot-2021.05/output-recovery/

